div.gallery{
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover{
    border: 1px solid #777
}

div.gallery img{
    width: 100%;
    height: auto;
}

div.desc{
    padding: 15px;
    text-align: center;
}


.sprite{
    background: url(../img/sprites.png);
}


.bajrami{
    width: 900px;
    height: 800px;
    display: inline-block;
    background-position: -1000px -1300px;
}


.yamal{
    width: 900px;
    height: 800px;
    display: inline-block;
    background-position: 0 0;
}



a[href="https://shkolladigjitale.com/"]{
    color: blue;
}


p[class*="ds"]{
    background: blue;
    color: white;
}


div[id~="ds"]{
    background: green;
    color: black;
}


img[title^="dice"]{
    border: 2px solid blue;
}

h1[class|=heading] {
    background: purple;
    color: white;
}

input[placeholder$="name"]{
    border: 2px solid red;
}

input[readonly]{
    border: 2px solid green;
}
